.header__item {
    font-family: 'Formular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 11px;
    cursor: pointer;
    transition: opacity .4s ease-in-out;
}

.header__item:hover {
    opacity: 0.7;
}