.interactive {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 71px 29px 141px 353px;
    background-color: #B7C09D;
    max-width: 100%;
}

@media screen and (max-width: 1280px) {
    .interactive {
       padding-left: 280px;
    }
}

@media screen and (max-width: 1140px) {
    .interactive {
        padding-left: 150px ;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 720px) {
    .interactive {
        padding: 65px 29px 50px 50px ;
    }
}

@media screen and (max-width: 430px) {
    .interactive {
        padding: 56px 29px 72px 25px;
    }
}