.footer__info {
    grid-column: 2/3;
    grid-row: 2/2;
    max-width: 231px;
    padding: 62px 0 0 0;
}

@media screen and (max-width: 1050px){
    .footer__info {
        padding-left: 32px;
        grid-column: 1;
    }
}

@media screen and (max-width: 880px){
    .footer__info {
        display: none;
    }
}