.footer {
    background-color: #ECEBE8;
    padding: 42px 0 54px 32px;
    font-family: 'FormularLight', 'Inter','sans-serif';
    color: #242424;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}