.footer__partner-logo {
    align-self: flex-start;
    margin: 0 26px 0 0;
    max-height: 34px;
}

@media (max-width: 880px) {
    .footer__partner-logo {
        margin-right: 15px;
        max-width: 182px;
        height: 118px;
    }
}