@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);

@import url(../blocks/performance/performance.css);
@import url(../blocks/performance/__title/perfomance__title.css);
@import url(../blocks/performance/__image/performance__image.css);
@import url(../blocks/performance/__shedule/performance__shedule.css);
@import url(../blocks/performance/__date/perfomance__date.css);
@import url(../blocks/performance/__time/perfomance__time.css);
@import url(../blocks/performance/__name/perfomance__name.css);
@import url(../blocks/performance/__info/performance__info.css);
@import url(../blocks/performance/__playwright/perfomance__playwright.css);
@import url(../blocks/performance/__director/perfomance__director.css);
@import url(../blocks/performance/__description/perfomance__description.css);
@import url(../blocks/performance/__about/perfomance__about.css);
@import url(../blocks/performance/__about-text/perfomance__about-text.css);
@import url(../blocks/performance/__tickets/perfomance__tickets.css);
@import url(../blocks/performance/__tickets-text/perfomance__tickets-text.css);