.cooperation__title {
    font-family: 'Neue Machina','Inter','sans-serif';
    color: #242424;
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 38px;
    margin: 0;
}