.video__title {
  align-self: flex-start;
  max-width: 568px;
  margin: 98px 0 auto 0;
  font-family: 'Neue Machina';
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #242424;
}

@media screen and (max-width: 768px) {
  .video__title {
    font-size: 28px;
    line-height: 1.14;
    max-width: 366px;
    margin-top: 57px;
  }
}