.footer__about-links-mobile {
    display: grid;
    margin: 0 0 0 55px;
    padding: 0;
    grid-template-columns: 1fr;
    grid-row: 4;
}

.footer__about-links-mobile:last-of-type {
    grid-column: 1/3;
    grid-row: 5;
    margin: 53px 0 56px 55px;
}