.footer__mobile {
    background-color: #ECEBE8;
    font-family: 'FormularLight', 'Inter','sans-serif';
    color: #242424;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    display: none;
}

@media screen and (max-width: 880px) {
    .footer__mobile {
        display: grid;
        grid-template-columns: 157px max-content;
        align-self: center;
        padding: 56px 24px 0 0;
    }
    .footer__partner-logo-mobile::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #242424;
    }
}