.plays__title {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 48px;
  margin-left: 25%;
  max-width: 358px;
}