.footer__about-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__about-links:first-of-type {
    margin-right: 100px;
}

.footer__about-links:last-of-type {
    margin-left: 77px;
    min-width: 189px;
}
